@import '../../variables'

.profile
    width: 85%
    margin: 30px 0px
    padding: 0px 20px 20px 0px
    border-radius: 20px
    background-color: $color-primary
    border: 5px solid $color-terteary
    @include flex-center(column,flex-start,center)
    box-shadow: 1px 5px 15px -2px #000000
    &__image
        position: relative
        bottom: 60px
        width: 220px
        border: 5px solid $color-terteary
        border-radius: 50%
    &__description
        position: relative
        bottom: 60px
        width: 92%
        @include flex-center(column,flex-start,center)
        text-align: justify
    &__text
        margin: 5px    
    &__title
        position: relative
        bottom: 60px
    &__curriculum
        &:hover
            color: white
            transition: .300s
            
   
     