@import '../../variables'
.portfolio
    text-decoration: none
    color: black
    width: 92%

    @include flex-center()
    &__box
        margin: 10px 0 
        padding: 10px
        width: 100%
        border-radius: 20px
        background-color: $color-quartiary
        @include flex-center(_, space-between, flex-start)
    &__image
        border-radius: 20px 
        width: 50px
    &__description
        text-align: right
        margin: 0 10px 

