@import '../../variables'

.skills    
    &__back 
        width: 93%
        @include flex-center(column)
        &-header
            padding: 0px 10px
            border-radius: 5px
            margin: 10px
            width: 100%
            @include flex-center(row,space-between,center)
            background-color: $color-quartiary
        &-body 
            @include flex-center(row,center,center) 
            flex-wrap: wrap  
    &__image
        &-front
            width: 60px
        &-back
            position: relative
            right: 5px
            width: 40px
        &-logo 
            width: 50px
            margin: 8px       

