.typewriter .header__title {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blink-caret 2.75s step-end infinite;

  }
.typewriter .header__description {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blink-caret-description 2.75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2980b9; }
  }
  @keyframes blink-caret-description {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }

  .flip-card {
    background-color: transparent;
    width: 50vw;
    height: 600px;
    perspective: 1500px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 600px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

.header__header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.header__presentation{
    padding: 0px 0px 0px 50px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 300px;
    position:relative;
}
.header__title{
    font-size: 2.5em;
    font-weight: bold;
    color: #2980b9
}
.header__description{
    font-size: 1.2em;
    color: #2980b9
}
.lottie__container{
    display: flex;
    flex-wrap: wrap;
}
.lottie__item{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
}
.header__bottom{
    width:100%;
    background-color:#272C35;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -9;
}
.header__profile{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header__profile-title{
margin: 50px 0px 20px 50px;
font-size: 2em;
}
.header__profile-li{
margin: 10px 0px 10px 25px;
font-size: 1em;
text-align: left;
}
    
@media screen and (max-width: 800px) {
  .header__header{
    flex-direction: column
  }
  .flip-card{
    width:100vw
  }
  .header__presentation{
    width: 100vw;
    padding: 0px 0px 0px 50px;
  }
  .header__title{
    font-size: 1.5em;
}
.header__description{
    font-size: 1em;

}
}
    