@import '../../variables'
.experience
    margin: 10px
    padding: 10px
    border-radius: 20px
    width: 92%
    background-color: $color-quartiary
    &__header
        @include flex-center() 
        text-align: center 
        margin: 10px
        cursor: pointer
        color: black
        text-decoration: none
    &__body 
        @include flex-center(_,flex-start)  
        margin: 10px 
        text-align: justify
        cursor: pointer
        color: black
        text-decoration: none
    &__title
        margin: 0
        margin-left: 10px
        font-size: 18px
    &__description
        margin: 0px
        margin-left: 10px
    &__image
        margin: 10px
        width: 50px        

@media (max-width: 600px)
    .experience
        &__header
            @include flex-center(column)  
        &__body                
            @include flex-center(column, _,flex-start) 
        &__description
            font-size: 14px    