@import './app/styles'
@import './components/Navbar/styles'
@import './components/Profile/styles'
@import './components/Portfolio/styles'
@import './components/Skills/styles'
@import './components/Contact/styles'
@import './components/Box/styles'
@import './components/Experience/styles'
@import './components/Header/styles'

body 
  margin: 0
  font-family: 'Balsamiq Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace

