@mixin flex-center($direction:row,$justify-content:center,$align-items:center)
    display: flex
    justify-content: $justify-content
    align-items: $align-items
    flex-direction: $direction

$color-white: #fff
$color-blue : #0F64C2
$color-white-blue : #53C8FA
$color-terteary: #D1D4F9